.selected{
    font-style: italic;
    text-decoration: underline;
    display: inline;
    background-color: blue;
    padding: auto;
}

.notSelected{
    font-style: italic;
    display: inline;
    background-color: white;
}